/*
*   Global Styles
*/

body {
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    @include box-sizing(border-box);
}

// hide all screen reader elements
.sr-only {
    display: none;
}

.main-wrapper {
    @include clearfix();
}

.global-header {
    background-color: $blue-gray;
    border: 1px solid $blue-gray;
    width: 100%;
    height: 4.5em;
    @include clearfix();

    .steps {
        float: left;
        display: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 1.1em;
        color: $gray-dark;
    }
}

@media (max-width: $screen-xs-min) {

}

@media (min-width: $screen-sm-min) {
    body {
        font-size: 14px;
    }
}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {
    body {
        font-size: 16px;
    }
}