input.form-control[type=text] {
    color: $gray;
    padding: 0.5em;
    font-family: 'Source Sans Pro', sans-serif;

    &:focus {
        box-shadow: none;
        outline: none;
        border: $blue 2px solid;
    }
}