@mixin center-placeholder {
    &::-webkit-input-placeholder {
            text-align: center;
    }

    &:-moz-placeholder {
        text-align: center;
    }

    &::-moz-placeholder {
        text-align: center;
    }

    &:-ms-input-placeholder {
        text-align: center;
    }
}

.form-control[type=text], .form-control[type=email] {
    color: $off-black;
    padding: 0.5em;
    font-family: 'Source Sans Pro', sans-serif;
    height: 2.85em;
    width: 15em;

    &:focus {
        box-shadow: none;
        outline: none;
        border: $blue 2px solid;
    }
}

label {
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: $off-black;
    line-height: 1.55em;
}

.form-group {
    margin: 1em 0;
}

.form-group-text {
    display: block;
    padding: 0 1em;
    margin: 1em 0;
    text-align: center;

    label {
        display: block;
        text-align: center;
    }

    &.block {
        display: block;
    }
}

.form-group-radio {
    display: inline-block;
    margin: 0 1em;

    input {
        width: 1em;
        display: block;
        margin: 0 auto;
    }
}

.dollar-input {
    letter-spacing: 2px;
}

input[type=radio], input[type=checkbox] {
    margin: 0.75em 0.5em;
}

@media (max-width: $screen-xs-min) {

}

@media (min-width: $screen-sm-min) {
    .form-group-text {
        display: inline-block;
        text-align: center;
    }
}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}