{% extends "base.html" %}
{% load i18n %}

{% block head %}
    {{ block.super }}
{% endblock head %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pages/apply.css" />
{% endblock css %}

{% block content %}
    {{ block.super }}
    <section class="step step-assistance" data-step="ASSISTANCE">
        <section class="instructions">
            <h1>
                {% trans 'Assitance Programs' %}
            </h1>
            <p class="body-text">
                {% blocktrans %}
                    Does any member of you household participate in one of the following programs? Please select one.
                {% endblocktrans %}
            </p>
            <p class="body-text italic">
                {% blocktrans %}
                    If so, all members of your household will automatically qualify for free or reduced priced lunches.
                    You will need your case number.
                {% endblocktrans %}
            </p>
            <p class="body-text italic">
                {% blocktrans %}
                    If not, it is OK.
                    You do not have to be part of one of these programs to qualify for free or reduced priced lunches.
                {% endblocktrans %}
            </p>
        </section>
        <form>
            <div class="form-group">
                <label class="sr-only" for="programs">{% trans 'SNAP - Supplemental Nutrition Assistance Program' %}</label>
                <label>
                    <input type="radio" name="programs" value="SNAP"/>
                    {% trans 'SNAP - Supplemental Nutrition Assistance Program' %}
                </label>
                <label class="sr-only" for="programs">{% trans 'FDPIR - Food Distribution Program on Indian Reservations' %}</label>
                <label>
                    <input type="radio" name="programs" value="FDPIR"/>
                    {% trans 'FDPIR - Food Distribution Program on Indian Reservations' %}
                </label>
                <label class="sr-only" for="programs">{% trans 'TANF - Temporary Assistance for Needy Families' %}</label>
                <label>
                    <input type="radio" name="programs" value="TANF"/>
                    {% trans 'TANF - Temporary Assistance for Needy Families' %}
                </label>
                <label class="sr-only" for="programs">{% trans 'None' %}</label>
                <label>
                    <input type="radio" name="programs" value="none" checked="true"/>
                    {% trans 'None' %}
                </label>
            </div>
        </form>

        <section class="form-nav">
            <div class="btn btn-back">
                <p>{% trans 'Back' %}</p>
            </div>
            <div class="btn btn-next">
                <p>{% trans 'Next' %}</p>
            </div>
        </section>
    </section>

    <section class="step step-case-number" data-step="CASE_NUMBER">
        <section class="instructions">
            <h1>
                {% trans 'Assitance Program Case Number' %}
            </h1>
            <p class="body-text">
                {% blocktrans %}
                    Please enter your case number for:
                {% endblocktrans %}
            </p>
        </section>
        <form>
            <div class="form-group snap">
                <h2>SNAP</h2>
                <label for="snap-number">{% trans 'Supplemental Nutrition Assistance Program' %}</label>
                <input class="form-control" type="text" name="snap-number" placeholder="Case Number"/>
            </div>
            <div class="form-group fdpir">
                <h2>FDPIR</h2>
                <label for="fdpir-number">{% trans 'Food Distribution Program on Indian Reservations' %}</label>
                <input class="form-control"  type="text" name="fdpir-number" placeholder="Case Number"/>
            </div>
            <div class="form-group tanf">
                <h2>TANF</h2>
                <label for="tanf-number">{% trans 'Temporary Assistance for Needy Families' %}</label>
                <input class="form-control"  type="text" name="tanf-number" placeholder="Case Number"/>
            </div>
        </form>

        <section class="form-nav">
            <div class="btn btn-back">
                <p>{% trans 'Back' %}</p>
            </div>
            <div class="btn btn-next disabled">
                <p>{% trans 'Next' %}</p>
            </div>
        </section>
    </section>

    <section class="step step-household-adults" data-step="HOUSEHOLD_ADULTS">
        <section class="instructions">
            <h1>
                {% trans "Adults in Your Household" %}
            </h1>
            <p class="body-text">
                {% blocktrans %}
                    Please list the full names of every adult in your household.
                {% endblocktrans %}
            </p>
        </section>
        <form>
            <div class="form-set">
                <div class="form-group-text adults-first-name">
                    <label>{% trans 'Adult First Name' %}</label>
                    <input class="form-control"  type="text" name="adult-first-name" placeholder="Jane"/>
                </div>
                <div class="form-group-text adults-last-name">
                    <label>{% trans 'Adult Last Name' %}</label>
                    <input class="form-control"  type="text" name="adult-last-name" placeholder="Doe"/>
                </div>
            </div>

            <div class="btn btn-success add-adult">
                <p>{% trans '+ add adult' %}</p>
            </div>
        </form>

        <section class="form-nav">
            <div class="btn btn-back">
                <p>{% trans 'Back' %}</p>
            </div>
            <div class="btn btn-next disabled">
                <p>{% trans 'Next' %}</p>
            </div>
        </section>

        <script type="x/esl-template" id="adult-full-name-template">
            <div class="form-set">
                <div class="form-group-text adults-first-name">
                    <label>{% trans 'Adult First Name' %}</label>
                    <input class="form-control"  type="text" name="adult-first-name" placeholder="Jane"/>
                </div>
                <div class="form-group-text adults-last-name">
                    <label>{% trans 'Adult Last Name' %}</label>
                    <input class="form-control"  type="text" name="adult-last-name" placeholder="Doe"/>
                </div>
            </div>
        </script>
    </section>

    <section class="step step-adult-signer" data-step="ADULT_SIGNER">
        <section class="instructions">
            <h1>
                {% trans "Adult Signer" %}
            </h1>
            <p class="body-text">
                {% blocktrans %}
                    One adult needs to sign this application. Which adult will be sigining? Select one.
                {% endblocktrans %}
            </p>
        </section>

        <form></form>

        <section class="form-nav">
            <div class="btn btn-back">
                <p>{% trans 'Back' %}</p>
            </div>
            <div class="btn btn-next">
                <p>{% trans 'Next' %}</p>
            </div>
        </section>

        <script type="x/esl-template" id="signing-adult-template">
            <label>
                <input type="radio" name="programs" value="<%= uid %>" <% if (selected) { %> checked="true" <% } %>/>
                <%= adultName %>
            </label>
        </script>
    </section>

    <section class="step step-adult-signer-ssn" data-step="ADULT_SIGNER_SSN">
        <section class="instructions">
            <h1>
                {% trans "Adult Signer Social Security Number" %}
            </h1>
            <p class="body-text">
                {% blocktrans %}
                    Please enter the last four digits of the signing adult's social security number.
                {% endblocktrans %}
            </p>
        </section>
        <form>

            <div class="form-group-text signing-adult-ssn">
                <h3 class="adult-name"></h3>
                <label for="signing-adult-ssn">Social Security Number - Last Four Digits</label>
                <input class="form-control"  type="text" name="signing-adult-ssn" placeholder="1234" maxlength="4"/>
            </div>
            <div class="form-group no-ssn">
                <label>
                    <input class="form-control" type="checkbox" name="no-ssn"/>
                    {% trans 'No Social Security Number' %}
                </label>
            </div>
        </form>

        <section class="form-nav">
            <div class="btn btn-back">
                <p>{% trans 'Back' %}</p>
            </div>
            <div class="btn btn-next disabled">
                <p>{% trans 'Next' %}</p>
            </div>
        </section>
    </section>

    <section class="step step-adult-income" data-step="ADULT_INCOME">
        <section class="instructions">
            <h1>
                {% trans "Adult Income" %}
            </h1>
            <p class="body-text">
                {% blocktrans %}
                    Please estimate the income for each adult in your household, one at a time.
                    How much money does <span class="adult-name"></span> make? Enter 0 if nothing
                    to report.
                {% endblocktrans %}
            </p>
        </section>
        <form data-adult-uid="">
            <h3 class="adult-name"></h3>
            <div class="form-group adult-work-income">
                <h3>EARNINGS FROM WORK</h3>
                <label class="form-group-radio">
                    {% trans 'Monthly' %}
                    <input type="radio" name="work-income-freq" value="monthly" checked="true"/>
                </label>
                <label class="form-group-radio">
                    {% trans '2x Monthly' %}
                    <input type="radio" name="work-income-freq" value="twice-monthly"/>
                </label>
                <label class="form-group-radio">
                    {% trans 'Bi-Weekly' %}
                    <input type="radio" name="work-income-freq" value="biweekly"/>
                </label>
                <label class="form-group-radio">
                    {% trans 'Weekly' %}
                    <input type="radio" name="work-income-freq" value="weekly"/>
                </label>
                <div class="form-group-text income">
                    <label>{% trans 'Income' %}</label>
                    <input class="form-control" type="text" name="work-income" placeholder="0"/>
                </div>
            </div>
            <div class="form-group adult-public-income">
                <h3>PUBLIC ASSISTANCE / CHILD SUPPORT / ALIMONY</h3>
                <label class="form-group-radio">
                    {% trans 'Monthly' %}
                    <input type="radio" name="public-income-freq" value="monthly" checked="true"/>
                </label>
                <label class="form-group-radio">
                    {% trans '2x Monthly' %}
                    <input type="radio" name="public-income-freq" value="twice-monthly"/>
                </label>
                <label class="form-group-radio">
                    {% trans 'Bi-Weekly' %}
                    <input type="radio" name="public-income-freq" value="biweekly"/>
                </label>
                <label class="form-group-radio">
                    {% trans 'Weekly' %}
                    <input type="radio" name="public-income-freq" value="weekly"/>
                </label>
                <div class="form-group-text income">
                    <label>{% trans 'Income' %}</label>
                    <input class="form-control" type="text" name="work-income" placeholder="0"/>
                </div>
            </div>
            <div class="form-group adult-other-income">
                <h3>PENSIONS / RETIREMENT / ALL OTHER INCOME</h3>
                <label class="form-group-radio">
                    {% trans 'Monthly' %}
                    <input type="radio" name="other-income-freq" value="monthly" checked="true"/>
                </label>
                <label class="form-group-radio">
                    {% trans '2x Monthly' %}
                    <input type="radio" name="other-income-freq" value="twice-monthly"/>
                </label>
                <label class="form-group-radio">
                    {% trans 'Bi-Weekly' %}
                    <input type="radio" name="other-income-freq" value="biweekly"/>
                </label>
                <label class="form-group-radio">
                    {% trans 'Weekly' %}
                    <input type="radio" name="other-income-freq" value="weekly"/>
                </label>
                <div class="form-group-text income">
                    <label>{% trans 'Income' %}</label>
                    <input class="form-control" type="text" name="work-income" placeholder="0"/>
                </div>
            </div>
        </form>

        <section class="form-nav">
            <div class="btn btn-back">
                <p>{% trans 'Back' %}</p>
            </div>
            <div class="btn btn-next disabled">
                <p>{% trans 'Next' %}</p>
            </div>
        </section>
    </section>

    <section class="step step-household-children" data-step="HOUSEHOLD_CHILDREN">
        <section class="instructions">
            <h1>
                {% trans "Children in Your Household" %}
            </h1>
            <p class="body-text">
                {% blocktrans %}
                    Please list the full names of every child in your household.
                {% endblocktrans %}
            </p>
        </section>
        <form>
            <div class="form-group children">
                <label for="child-first-name">{% trans 'Child First Name' %}</label>
                <input class="form-control"  type="text" name="child-first-name" placeholder="John"/>
                <label for="child-middle-initial">{% trans 'Child Middle Initial' %}</label>
                <input class="form-control"  type="text" name="child-middle-initial" placeholder="Q"/>
                <label for="child-last-name">{% trans 'Child Last Name' %}</label>
                <input class="form-control"  type="text" name="child-last-name" placeholder="Doe"/>
            </div>

            <div class="btn btn-success add-child">
                <p>{% trans '+ add child' %}</p>
            </div>
        </form>

        <section class="form-nav">
            <div class="btn btn-back">
                <p>{% trans 'Back' %}</p>
            </div>
            <div class="btn btn-next disabled">
                <p>{% trans 'Next' %}</p>
            </div>
        </section>

        <script type="x/esl-template" id="child-name-template">
            <div class="form-group children">
                <label for="child-first-name">{% trans 'Child First Name' %}</label>
                <input class="form-control"  type="text" name="child-first-name" placeholder="John"/>
                <label for="child-middle-initial">{% trans 'Child Middle Initial' %}</label>
                <input class="form-control"  type="text" name="child-middle-initial" placeholder="Q"/>
                <label for="child-last-name">{% trans 'Child Last Name' %}</label>
                <input class="form-control"  type="text" name="child-last-name" placeholder="Doe"/>
            </div>
        </script>
    </section>

    <section class="step step-children-circumstances" data-step="CHILDREN_CIRCUMSTANCES">
        <section class="instructions">
            <h1>
                {% trans "Child Circumstance" %}
            </h1>
            <p class="body-text">
                {% blocktrans %}
                    Do any of the following options describe
                {% endblocktrans %}
                <span class="child-name"></span>
                {% blocktrans %}
                ? Select one or many.
                {% endblocktrans %}
            </p>
        </section>
        <form data-child-uid="">
            <h3 class="child-name"></h3>
            <div class="form-group child-circumstances">
                <input class="form-control" type="checkbox" name="student"/>
                <label for="student">{% trans 'Student' %}</label>
                <input class="form-control" type="checkbox" name="foster"/>
                <label for="foster">{% trans 'Foster' %}</label>
                <input class="form-control" type="checkbox" name="homeless"/>
                <label for="homeless">{% trans 'Homeless, Migrant or Runaway' %}</label>
                <input class="form-control" type="checkbox" name="none"/>
                <label for="none">{% trans 'None' %}</label>
            </div>
        </form>

        <section class="form-nav">
            <div class="btn btn-back">
                <p>{% trans 'Back' %}</p>
            </div>
            <div class="btn btn-next disabled">
                <p>{% trans 'Next' %}</p>
            </div>
        </section>
    </section>

    <section class="step step-children-income" data-step="CHILDREN_INCOME">
        <section class="instructions">
            <h1>
                {% trans "Children Income" %}
            </h1>
            <p class="body-text">
                {% blocktrans %}
                    Please estimate the TOTAL income for ALL children in your household.
                {% endblocktrans %}
            </p>
        </section>
        <form>
            <h3 class="child-name"></h3>
            <div class="form-group child-income">
                <label class="form-group-radio">
                    {% trans 'Monthly' %}
                    <input type="radio" name="income-freq" value="monthly" checked="true"/>
                </label>
                <label class="form-group-radio">
                    {% trans '2x Monthly' %}
                    <input type="radio" name="income-freq" value="twice-monthly"/>
                </label>
                <label class="form-group-radio">
                    {% trans 'Bi-Weekly' %}
                    <input type="radio" name="income-freq" value="biweekly"/>
                </label>
                <label class="form-group-radio">
                    {% trans 'Weekly' %}
                    <input type="radio" name="income-freq" value="weekly"/>
                </label>
               <div class="form-group-text income">
                    <label>{% trans 'Income' %}</label>
                    <input class="form-control" type="text" name="income" placeholder="0"/>
                </div>
            </div>
        </form>

        <section class="form-nav">
            <div class="btn btn-back">
                <p>{% trans 'Back' %}</p>
            </div>
            <div class="btn btn-next disabled">
                <p>{% trans 'Next' %}</p>
            </div>
        </section>
    </section>




    <section class="step step-race" data-step="RACE">
        <section class="instructions">
            <h1>
                {% trans "Children's Racial & Ethnic Identities" %}
            </h1>
            <h2>
                {% trans 'Optional' %}
            </h2>
            <p class="body-text">
                {% blocktrans %}
                    This information helps to make sure we are fully serving our community.
                    Responding to this section is <span class="underline">optional</span> and
                    does not affect your children's eligibility for free or reduced priced meals.
                {% endblocktrans %}
            </p>
        </section>
        <form>
            <div class="form-group ethnicity">
                <h2>
                    {% trans "Children's Ethnicity" %}
                    <span class="aside">({% trans 'select one' %})</span>
                </h2>
                <input class="form-control" type="checkbox" name="hispanic"/>
                <label for="hispanic">{% trans 'Hispanic or Latino' %}</label>
                <input class="form-control" type="checkbox" name="not-hispanic"/>
                <label for="not-hispanic">{% trans 'Not Hispanic or Latino' %}</label>
            </div>
            <div class="form-group race">
                <h2>
                    {% trans "Children's Race" %}
                    <span class="aside">({% trans 'select one or more' %})</span>
                </h2>
                <input class="form-control" type="checkbox" name="american-indian"/>
                <label for="american-indian">{% trans 'American Indian or Alaskan Native' %}</label>
                <input class="form-control" type="checkbox" name="asian"/>
                <label for="asian">{% trans 'Asian' %}</label>
                <input class="form-control" type="checkbox" name="black"/>
                <label for="black">{% trans 'Black or African American' %}</label>
                <input class="form-control" type="checkbox" name="hawaiian"/>
                <label for="hawaiian">{% trans 'Native Hawaiian or Other Pacific Islander' %}</label>
                <input class="form-control" type="checkbox" name="white"/>
                <label for="white">{% trans 'White' %}</label>
            </div>
        </form>

        <section class="form-nav">
            <div class="btn btn-back">
                <p>{% trans 'Back' %}</p>
            </div>
            <div class="btn btn-next">
                <p>{% trans 'Next' %}</p>
            </div>
        </section>
    </section>

    <section class="step step-contact" data-step="CONTACT">
        <section class="instructions">
            <h1>
                {% trans "Contact Info" %}
            </h1>
            <p class="body-text">
                {% blocktrans %}
                    Please enter your contact info.
                {% endblocktrans %}
            </p>
        </section>
        <form>
            <div class="form-group">
                <label for="street-address">{% trans 'Street Address' %}</label>
                <input class="form-control"  type="text" name="street-address" placeholder="1234 Sesame Street"/>
            </div>
            <div class="form-group">
                <label for="city">{% trans 'City' %}</label>
                <input class="form-control"  type="text" name="city" placeholder="Fairview"/>
            </div>
            <div class="form-group">
                <label for="state">{% trans 'State' %}</label>
                <input class="form-control"  type="text" name="state" placeholder="PA"/>
            </div>
            <div class="form-group">
                <label for="zip-code">{% trans 'Zip Code' %}</label>
                <input class="form-control"  type="text" name="zip-code" placeholder="12345"/>
            </div>
            <div class="form-group">
                <label for="phone-number">{% trans 'Phone Number' %}</label>
                <input class="form-control"  type="text" name="phone-number" placeholder="555-555-5555"/>
            </div>
            <div class="form-group">
                <label for="email">{% trans 'Email' %}</label>
                <input class="form-control"  type="email" name="email" placeholder="you@domain.com"/>
            </div>


        </form>

        <section class="form-nav">
            <div class="btn btn-back">
                <p>{% trans 'Back' %}</p>
            </div>
            <div class="btn btn-next">
                <p>{% trans 'Next' %}</p>
            </div>
        </section>
    </section>

    <section class="step step-agreements" data-step="AGREEMENTS">
        <section class="instructions">
            <h1>
                {% trans "Read Statements" %}
            </h1>
            <p class="body-text">
                {% blocktrans %}
                    You have the opportunity to read the following statements.
                    Click on the link to read the full text.
                {% endblocktrans %}
            </p>
        </section>
        <form>

        </form>

        <section class="form-nav">
            <div class="btn btn-back">
                <p>{% trans 'Back' %}</p>
            </div>
            <div class="btn btn-next">
                <p>{% trans 'Next' %}</p>
            </div>
        </section>
    </section>

    <section class="step step-sign" data-step="SIGN">
        <section class="instructions">
            <h1>
                {% trans "Sign & Date" %}
            </h1>
            <p class="body-text">
                {% blocktrans %}
                    As the signing adult, enter your name and today's date.
                {% endblocktrans %}
            </p>
        </section>
        <form>
            <div class="form-group">
                <label for="full-name">{% trans 'Full Name' %}</label>
                <input class="form-control"  type="text" name="full-name" placeholder="John Doe"/>
            </div>
            <div class="form-group">
                <label for="date">{% trans "Today's Date" %}</label>
                <input class="form-control"  type="text" name="date" value="{% now 'Y-m-d' %}" disabled="disabled"/>
            </div>
        </form>

        <section class="form-nav">
            <div class="btn btn-back">
                <p>{% trans 'Back' %}</p>
            </div>
            <div class="btn btn-next disabled">
                <p>{% trans 'Next' %}</p>
            </div>
        </section>
    </section>

    <section class="step step-success" data-step="SUCCESS">
        <section class="instructions">
            <h1>
                {% trans "Success!" %}
            </h1>
            <p class="body-text">
                {% blocktrans %}
                    You have successfully filled out the 2016-2017 School Lunch Application
                {% endblocktrans %}
            </p>
        </section>
        <form>

        </form>

        <section class="form-nav">
            <div class="btn btn-back">
                <p>{% trans 'Back' %}</p>
            </div>
            <div class="btn btn-next">
                <p>{% trans 'Finish' %}</p>
            </div>
        </section>
    </section>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/pages/apply.js"></script>
    <script type="text/javascript">
        ESL.Apply.init();
    </script>
{% endblock js %}