{% extends "base.html" %}
{% load i18n %}

{% block head %}
    {{ block.super }}
{% endblock head %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pages/home.css" />
{% endblock css %}

{% block content %}
    {{ block.super }}
    <div class="home-wrapper">
        {% block page-title %}
            {% trans 'Fill out the 2016-2017 Application' %}
        {% endblock page-title %}

        <section class="instructions">
            <h1>
                {% trans 'Apply for Free & Reduced Price School Lunches' %}
            </h1>
            <p>{% trans 'You Will Need' %}</p>
            <ul>
                <li>
                    {% trans 'Names of all household members' %}
                </li>
                <li>
                    {% trans 'Income of all household members, including adults and children' %}
                </li>
                <li>
                    {% trans 'Social Security Number of the signing adult (if they have one)' %}
                </li>
                <li>
                    {% trans "The signing adult's contact info (TODO list specific items)" %}
                </li>
                <li>
                    {% trans 'If you are an assistance program participant, you will need your case number. Assistance programs include: SNAP, FDPIR and TANF. It is OK if these programs do not apply to you.' %}
                </li>
            </ul>
        </section>

        <section class="start-cta">
            <a href="{% url 'apply' %}">
                <div class="btn btn-primary">
                    {% trans 'Start Application' %}
                </div>
            </a>
        </section>

        <section class="pdf-link">
            <p>
                {% trans 'Unable to Fill Out the Online Form?' %}
            </p>
            <a href="#">{% trans 'Download the PDF.' %}</a>
        </section>

        <section class="additional-info">
            <p>
                {% blocktrans %}
                    In the U.S. there are over 50 million children enrolled in public school.
                    30 million of those children eat free or reduced priced lunches every day.
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}
                    The Nation School Lunch program gets stronger every year because more and more families participate.
                {% endblocktrans %}
            </p>
            <p>
                {% trans 'Thanks for being part of it.' %}
            </p>
        </section>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/pages/home.js"/></script>
{% endblock js %}