{% extends "base.html" %}
{% load i18n %}

{% block head %}
    {{ block.super }}
{% endblock head %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pages/home.css" />
{% endblock css %}

{% block content %}
    {{ block.super }}
    <div class="home-wrapper">
        <section class="instructions">
            <h1>
                {% trans 'Apply for Free & Reduced Price School Lunches' %}
            </h1>
            <h3>{% trans 'You Will Need' %}</h3>
            <ul>
                <li>
                    {% trans 'Names of all household members' %}
                </li>
                <li>
                    {% trans 'Income of all household members, including adults and children' %}
                </li>
                <li>
                    {% trans 'Social Security Number of the signing adult (if they have one)' %}
                </li>
                <li>
                    {% trans "The signing adult's contact info" %}
                </li>
                <li>
                    {% trans 'If you are an assistance program participant, you will need your case number. Assistance programs include: SNAP, FDPIR and TANF. It is OK if these programs do not apply to you.' %}
                </li>
            </ul>
        </section>

        <section class="start-cta">
            <a href="{% url 'apply' %}">
                <div class="btn btn-success">
                    <p>{% trans 'Start Application' %}</p>
                </div>
            </a>
        </section>

        <section class="pdf-link">
            <div class="divider"></div>
            <div class="pdf-link-container">
                <i class="material-icons">picture_as_pdf</i>
                <div class="pdf-info-container">
                    <p>
                        {% trans 'Unable to Fill Out the Online Form?' %}
                    </p>
                    <a href="{{ STATIC_URL }}images/2015-2016_school_lunch_application.pdf" target="_blank">{% trans 'Download the PDF' %}</a>
                </div>
            </div>
            <div class="divider"></div>
        </section>

        <section class="additional-info">
            <div class="info-container">
                <img src="{{ STATIC_URL }}/images/superkid.png" alt="Super Kid!" />
                <div class="text-container">
                    <p class="italic">
                        {% blocktrans %}
                            In the U.S. there are over 50 million children enrolled in public school.
                            30 million of those children eat free or reduced priced lunches every day.
                        {% endblocktrans %}
                    </p>
                    <p class="italic">
                        {% blocktrans %}
                            The Nation School Lunch program gets stronger every year because more and more families participate.
                        {% endblocktrans %}
                    </p>
                    <p>
                        <strong>{% trans 'Thanks for being part of it.' %}</strong>
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/pages/home.js"/></script>
{% endblock js %}