@import 'base';

.global-header {
    .help, .steps {
        display: inline-block;
    }
}

.step {
    text-align: center;
    padding: 2em;
    width: 90%;
    margin: 0 auto;

    &:not(.step-assistance) {
        display: none;
    }

    h1 {
        margin: 0;
        font-family: 'Lora', serif;
        font-weight: 700;
        font-size: 2.5em;
        color: $off-black;
    }

    h3 {
        color: $blue-dark;
        font-size: 1.5em;
        letter-spacing: 1px;
    }

    @at-root
    .body-text {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        color: $off-black;
        line-height: 1.55em;
    }

    .form-nav {
        margin: 5em auto 0 auto;
        width: 70%;
        @include clearfix();

        .btn-back {
            float: left;
        }

        .btn-next {
            float: right;
        }
    }
}

.step-assistance {
    label:not(.sr-only) {
        display: block;
    }

    .form-group {
        text-align: left;
        width: 92%;
        margin: 0 auto;
    }
}

.step-case-number {
    .form-group {
        display: none;
    }
}

.step-household-adults {
    .form-group {
        margin: 0.5em 0;
    }

    .add-adult {
        margin-top: 2em;
    }
}

.step-adult-signer-ssn {
    input[type=text] {
        width: 5em;
        @include center-placeholder();
        text-align: center;
    }
}

@media (max-width: $screen-xs-min) {

}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {
    .step {
        width: 50%;
        max-width: 800px;
    }

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}