@import 'base';

.global-header {
    .help, .steps {
        display: inline-block;
    }
}

.help-tooltip {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    color: $white;

    p {
        width: 80%;
        margin: 0 auto 1em auto;
        font-size: 1.2em;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2.5em;

        &:hover {
            color: $blue-gray;
            cursor: pointer;
        }
    }

    .triangle {
        position: relative;
        top: -27px;
        left: 0.6em;
    }

}

.step {
    text-align: center;
    padding: 2em;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: none;

    h1 {
        margin: 0;
        font-family: 'Lora', serif;
        font-weight: 700;
        font-size: 2.5em;
        color: $off-black;
    }

    h3 {
        color: $blue-dark;
        font-size: 1.5em;
        letter-spacing: 1px;
    }

    @at-root
    .body-text {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        color: $off-black;
        line-height: 1.55em;
    }

    .form-nav {
        margin: 5em auto 0 auto;
        width: 100%;
        @include clearfix();

        .btn-back {
            float: left;
        }

        .btn-next {
            float: right;
        }
    }

    .helper-text {
        opacity: 0;
        transform: translate(0, -100%);
        position: absolute;
        top: 0;
        left: 10%;
        width: 80%;
        background-color: rgba(0,0,0,0.9);
        color: $white;
        transition: all 500ms ease-out;
        padding-bottom: 2em;

        p {
            width: 80%;
            margin: 0 auto 0.5em auto;
            font-size: 1.2em;
        }

        ul {
            width: 80%;
            margin: 0 auto;
            text-align: left;
            font-size: 1.2em;
        }

        .close, .close-step-helper {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 2.5em;

            &:hover {
                color: $blue-gray;
                cursor: pointer;
            }
        }

        &.show {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}

.step-assistance {
    label {
        display: block;
    }

    .form-group {
        text-align: left;
        width: 92%;
        margin: 0 auto;
    }
}

.step-case-number {
    .form-group-text {
        display: none;
    }
}

.step-household-adults {
    .form-group {
        margin: 0.5em 0;
    }

    .add-adult {
        margin-top: 2em;
    }
}

.step-adult-income {
    .form-group-text.income {
        display: block;
    }

    input[type=radio] {
        margin: 0 auto;
    }

    .form-group {
        padding: 1em 0;
        background-color: $gray-light;
    }
}

.step-adult-signer {
    .form-group {
        text-align: left;
        width: 75%;
        margin: 0 auto;

        label {
            display: block;
        }
    }
}

.step-adult-signer-ssn {
    input[type=text] {
        width: 5em;
        @include center-placeholder();
        text-align: center;
    }
}

.step-household-children {
    .form-group {
        margin: 0.5em 0;
    }

    .add-child {
        margin-top: 2em;
    }

    input[type=text] {
        width: 13em;
    }

    input[name=child-middle-initial] {
        width: 2em;
    }
}

.step-children-circumstances {
    label {
        display: block;
    }

    .form-group {
        text-align: left;
        width: 92%;
        margin: 0 auto;
    }
}

.step-children-income {
    input[type=radio] {
        margin: 0 auto;
    }
}

.step-race {
    label {
        display: block;
    }

    .form-group {
        text-align: left;
        width: 92%;
        margin: 0 auto;

        h2 {
            margin-bottom: 0;
        }
    }

    .aside {
        font-weight: 400;
        font-size: 0.75em;
    }
}

.step-contact {
    input[name=street-address] {
        width: 100%;
    }

    input[name=zip-code] {
        width: 5em;
    }

    input[name=state] {
        width: 3em;
    }
}

.step-agreements {
    .statement {
        font-size: 1.2em;
        color: $blue;

        &:hover {
            cursor: pointer;
            color: $blue-dark;
        }
    }
}

.step-sign {
    .household-size {
        h3 {
            margin-bottom: 0.5em;
        }

        .body-text {
            font-size: 1.2em;
            margin: 0;
        }
    }

    .legal {
        font-size: 1.1em;
    }

    .errors {
        display: none;
        margin: 1em 0;
        color: red;
    }
}

@media (max-width: $screen-xs-min) {

}

@media (min-width: $screen-sm-min) {
    .step {
        width: 80%;
    }
}

@media (min-width: $screen-md-min) {
    .step {
        width: 60%;

        .helper-text {
            left: 25%;
            width: 50%;
        }

        .form-nav {
            width: 70%;
        }
    }

    .help-tooltip {
        .triangle {
            top: -30px;
        }
    }

}

@media (min-width: $screen-lg-min) {
    .step {
        width: 50%;
    }
}

@media (min-width: $screen-xl-min) {

}